.login-container,
.hotel-container {
  background: white;
  width: 50%;
  margin: 0 auto;
  padding: 40px;
  box-shadow: #0c2012 0px 0px 10px;
  border-radius: 20px;
  max-width: 750px;
  text-align: center;
}

#login_title {
  text-align: center;
  font-size: 48px;
}

#user,
#email,
#password,
#passwordConfirm,
#roles,
#lastName,
#number {
  border: none;
  border-bottom: #0c2012 1.5px solid;
  margin-bottom: 5px;
  padding-top: 20px;
}

#user:focus,
#email:focus,
#password:focus,
#passwordConfirm:focus {
  outline: none;
}

.password-toggle {
  cursor: pointer;
  font-size: 18px;
  color: #888;
}

#remember_me {
  margin-right: 10px;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.input-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.input-container label {
  position: absolute;
  left: 35px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #888;
  transition: all 0.3s ease;
  pointer-events: none;
}

.input-container input,
.input-container select {
  width: 100%;
  padding: 15px 10px;
  font-size: 18px;
  border: none;
  border-bottom: 2px solid #0c2012;
  outline: none;
  background: transparent;
  padding-left: 35px; /* Adjust for icon spacing */
}

.input-container select,
.input-container select option {
  font-size: 18px;
  font-family: "Courier Prime";
}

.input-container input:focus ~ label,
.input-container input:not(:placeholder-shown) ~ label {
  top: 5px;
  font-size: 14px;
  color: #0c2012;
}

.input-container i {
  position: absolute;
  left: 10px;
  font-size: 18px;
  color: #888;
}

.lock_unvisible {
  display: none;
}

.remember-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.login_button {
  margin: 20px 0;
  background-color: #3c5c46;
  color: #fff;
  height: 90px;
  border-radius: 30px;
  border: none;
  font-size: 22px;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

@media (any-pointer: coarse) {
  .login-container {
    width: auto;
  }

  #login-block {
    height: 90vh;
  }

  .login_button {
    font-size: 16px;
    height: 50px;
    border-radius: 10px;
  }

  .remember-container {
    display: block;
    text-align: left;
  }

  .login_button {
    margin: 0;
  }
}
