.dsa {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hotels {
  display: flex;
  gap: 50px;
  max-width: 1200px;
  overflow-x: auto;
  white-space: nowrap;
  padding: 20px 20px 50px 10px;
}

.hotel {
  background: white;
  padding: 20px;
  box-shadow: #0c2012 0px 0px 10px;
  border-radius: 20px;
  min-width: 280px;
  height: 450px;
  text-align: left;
}

.hotel img {
  height: 60%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.hotel h3 {
  font-family: "Courier Prime", Courier, monospace;
  font-size: 23px;
  text-wrap: wrap;
}

.hotels__title {
  font-family: "Courier Prime", Courier, monospace;
  text-align-last: left;
  font-size: 36px;
  padding: 10px;
  line-height: 0;
  font-weight: normal;
}
