.tours-container {
  background: white;
  width: 80%;
  margin: 0 auto;
  padding: 40px;
  box-shadow: #0c2012 0px 0px 10px;
  border-radius: 20px;
  max-width: 1280px;
}

.tours__title {
  color: #0c2012;
  font-family: "Courier Prime", Courier, monospace;
  text-align: left;
  font-size: 2.3rem;
  line-height: 5px;
  font-weight: 500;
}

.tours {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 20px;
}

.column.left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column.right {
  display: flex;
  flex-direction: column;
  gap: 18px;
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 10px;
}

/* Tour Card Styling */
.tour {
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  text-align: center;
  padding: 40px;
}

/* First Tour - Larger */
.column.left .tour {
  width: 100%;
  height: 466px;
  padding: 20px;
}

/* Dark Overlay */
.tour::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.tour::before {
  background: rgba(0, 0, 0, 0.7);
}

/* Hover Effect */
.tour h3,
.tour p {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  position: relative;
  z-index: 2;
  opacity: 1;
  font-family: "Courier Prime", Courier, monospace;
}

.tour h3 {
  font-size: 28px;
  line-height: 0;
}

.tour p {
  font-size: 20px;
}

#main-image-title {
  font-size: 36px;
}

#main-image-desc {
  font-size: 24px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .tours {
    grid-template-columns: 1fr;
  }
  .column.right {
    max-height: none;
    overflow-y: visible;
  }
}

@media (any-pointer: coarse) {
  .tours-container {
    width: 90vw;
  }

  #main-image-title {
    line-height: normal;
  }

  #main-image-desc {
    display: block;
  }

  .tour p {
    display: none;
  }
}
