.account__title {
  text-align: left;
  font-size: 60px;
  background: #3c5c46;
  margin: 0;
  border-radius: 20px 20px 0 0;
  color: #fff;
  padding: 90px 190px 20px 30px;
}

.functions-container ol {
  text-align: left;
  background: #fff;
  border-radius: 0 0 20px 20px;
  margin: 0;
  padding: 20px;
  box-shadow: #0c2012 0px 0px 10px;
  height: 60vh;
}

li {
  padding: 10px;
  font-size: 28px;
  list-style: none;
}

.functions-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 20px;
}

.account-container {
  width: 90vw;
  height: 80vh;
}

.profile__title {
  text-align: left;
  font-size: 60px;
  margin: 0;
  color: #3c5c46;
  padding: 90px 190px 20px 30px;
}

.profile {
  background: #fff;
  border-radius: 20px;
  margin: 0 20px;
  box-shadow: #0c2012 0px 0px 10px;
  height: 60vh;
  padding: 20px 50px;
}

.field {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 20px;
  text-align: left;
  font-size: 24px;
}

.field label {
  margin: 0;
  padding: 0;
}

.field input:focus {
  outline: none;
}

.field input {
  border: none;
  border-bottom: #0c2012 1.5px solid;
  margin-bottom: 5px;
}

.field input {
  font-size: 21px;
}

.active {
  color: #62896e;
}

li .fa {
  border-right: 1px solid black;
  padding-right: 10px;
  margin-right: 10px;
}

.red-link {
  color: #ff0000;
  text-align: left;
  font-size: 22px;
  cursor: pointer;
}
