/* General Container */

.dsa2 {
  /* height: auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  box-sizing: border-box;
}

.search-container {
  margin: 80px auto;
  max-width: 1200px;
  text-align: center;
}

.search-header {
  font-size: 4rem;
  font-weight: bold;
  font-family: "Courier Prime", Courier, monospace;
  color: #0c2012;
  padding: 0;
  opacity: 1;
  letter-spacing: normal;
}

.header-subtitle {
  font-size: 1.2rem;
  font-family: "Courier Prime", Courier, monospace;
  color: #0c2012;
  margin-bottom: 30px;
}

/* Search Bar */
.search-wrapper {
  position: relative;
  display: inline-block;
  width: 60%;
}

.search-wrapper input {
  padding: 40px 20px 40px 100px;
  width: 100%;
  border-radius: 25px;
  border: none;
  filter: drop-shadow(5px 5px 4px #363636);
  font-size: 1.2em;
  font-family: "Courier Prime", Courier, monospace;
  box-sizing: border-box;
  outline: none;
}

.search-wrapper .search-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  color: #0c2012;
  border-radius: 50%;
  background-color: #87f; /* Blue circle */
  padding: 20px;
  color: #fff;
  font-size: 1.5rem;
}

/* Hero Section with Overlapping Images */
.hero-section {
  position: relative;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.hero-images {
  position: relative;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image {
  position: absolute;
  width: 30%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.hero-image.hero-image-one {
  left: 0;
}

.hero-image.hero-image-two {
  left: 33%;
}

.hero-image.hero-image-three {
  left: 66%;
}

/* Popular Destinations */
.popular-destinations {
  margin-top: 50px;
  text-align: center;
}

.destinations {
  display: flex;
  gap: 50px;
  max-width: 1200px;
  overflow: hidden;
  white-space: nowrap;
  padding: 20px 20px 50px 10px;
}

.destination-card {
  background: white;
  padding: 20px;
  box-shadow: #0c2012 0px 0px 10px;
  border-radius: 20px;
  min-width: 280px;
  height: 450px;
  text-align: left;
}

.destination-card img {
  height: 70%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.destination-card h3 {
  font-size: 24px;
  text-wrap: wrap;
  margin-bottom: 0;
}

.carousel-buttons {
  display: flex;
  gap: 10px;
}

.header-with-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 250px;
  box-sizing: border-box;
}

.carousel-buttons {
  margin-left: auto;
  padding-right: 20px;
}

.header-with-buttons h2 {
  margin: 0;
  font-size: 1.8rem;
  font-family: "Courier Prime", Courier, monospace;
}

@media (any-pointer: coarse) {
  .header-with-buttons {
    padding: 0;
    display: block;
  }

  .destinations {
    max-width: 400px;
  }

  .search-wrapper {
    width: 90%;
  }

  .header-with-buttons .carousel-buttons {
    display: none;
  }

  .header-with-buttons h2 {
    font-size: 1.5rem;
  }
}
